html {
    font-size: 10px;
    background: url(https://weddingandtheme.files.wordpress.com/2013/01/best-wedding-lights.jpg) bottom center;
   
    /* background: url( http://unsplash.it/1500/1000?image=881&blur=50) bottom center; */
    background-size: cover;
  }
body,html {
    margin: 0;
    padding: 25px;
    font-family: sans-serif;
  }