html {
    font-size: 10px;
    background: url(https://cdn.houseplans.com/product/98utqi3ru8km9sm24pah75ghii/w300x200.JPG?v=5) bottom center;
   
    /* background: url( http://unsplash.it/1500/1000?image=881&blur=50) bottom center; */
    background-size: cover;
  }
body,html {
    margin: 0;
    padding: 25px;
    font-family: sans-serif;
  }